<% if @debug %>

<div class="center jumbotron">
  <div class="text-center">
  	<!--TODO Soundcloudへのログイン・認証用の受け口を実装-->
    <h1>Welcome to the Foundcloud!</h1>
    <%= link_to 'TODO あとで消す：tracksへ',tracks_path %>
  </div>
</div>

<% else %>
	
<% end %>