$squareWidth:200px;

.aCard{
	display: flex;
	flex-wrap:nowrap;
	overflow:hidden;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	border-radius:5px;
	margin-bottom: 10px;
	@media screen and (max-width: 767px) {
		flex-wrap:wrap;
	}
}
.aCard-imageWrapper{
	flex: 0 0 $squareWidth;
	position: relative;
	width:$squareWidth;
	height:0;
	padding-bottom: $squareWidth;
	background-color: #000;
	border:1px solid;
	overflow:hidden;
	
	@media screen and (max-width: 767px) {
		flex: 0 0 100%;
	}
	
	img{
		max-width: 100%;
    min-width: 100%;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
	}
	span{
		color:#222;
		position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    display: block;
    height: 1em;
  }
}
.aCard-infoWrapper{
	flex: 1 1 auto;
	
	@media screen and (max-width: 767px) {
		margin-left: 0;
	}
	
	.aInfo-artistNameWrapper{
		color:#FFF;
		background-color: rgba(0,0,0,.5);
		font-size: 1.2rem;	
		padding-top: 10px;
		padding-bottom: 10px;
	}
	ul{
		padding:10px;
	}
	dd{
		font-size: 0.8rem;
		margin-top: 5px;
    line-height: 1.2;
    color:#333;
	}
}