<% if @debug %>

<div class="aCard container-fluid">
	<div class="row">
		<div class=" aCard-artistNameWrapper">
			<span class="aInfo-artistName">アーティスト名</span>
		</div>
		<div class="aCard-imageWrapper">
			<img class="aCard-image"/>
		</div>
		<div class="aCard-infoWrapper aInfo">
			<ul>
				<li class="aInfo-evaluation">
					<dl>
						<dt>サービス名</dt>
						<dd>評価</dd>
						<dt>サービス名</dt>
						<dd>評価</dd>
						<dt>サービス名</dt>
						<dd>評価</dd>
					</dl>
				</li>
				<li class="aInfo-famousTracks">
					<dl>
						<dt>上位の曲</dt>
						<dd>曲</dd>
						<dd>曲</dd>
						<dd>曲</dd>
						<dd>曲</dd>
						<dd>曲</dd>
					</dl>
				</li>
				<li class="aInfo-relatedArtists">
					<dl>
						<dt>関連アーティスト</dt>
						<dd>アーティスト</dd>
						<dd>アーティスト</dd>
						<dd>アーティスト</dd>
						<dd>アーティスト</dd>
						<dd>アーティスト</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
</div>

<% else %>

<% end %>
